.flexbox-container {
    background-color: #F48C06;
    position: relative;
    width: 470px;;
    height: 160px;
    padding: 25px 0;
    display:flex;
    justify-content:center;

}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px;
    background-color: #9D0208;;
}

.flexbox-item-1 {
    width: 80px;
    height: 120px;
}

.flexbox-item-2 {
    width: 80px;
    height: 120px;
}

.flexbox-item-3 {
    width: 80px;
    height: 120px;
}